/*
#content-text #dnd:hover{
	border:						1px solid transparent;
}
*/
/*
#content-text{

	border:						1px dashed transparent;
*/
    /* CSS3 */
/*    border-radius:              5px;*/
    /* Safari and chrome */
/*    -webkit-border-radius:      5px;*/
    /* Firefox */
/*    -moz-border-radius:         5px;*/
    /* Linux browsers */
/*    -khtml-border-radius:       5px;*/
/*
}
*/

/*########################################
	Box showing the list of
	page_templates available
########################################*/

.box_page_template{

	display:					none;
	
	background:					#F7F7F7;
	border:						1px solid #DDD;

	vertical-align:				top;

	margin:						0px auto;
	margin-bottom:				10px;
	margin-top:					10px;

	height:						300px;

	width:						100%;

	overflow:					auto;
	overflow-y:					scroll;
	overflow-x:					hidden;
	-ms-overflow-y:				scroll;
	-ms-overflow-x:				hidden;

    /* CSS3 */
    border-radius:              3px;
    /* Safari and chrome */
    -webkit-border-radius:      3px;
    /* Firefox */
    -moz-border-radius:         3px;
    /* Linux browsers */
    -khtml-border-radius:       3px;
    
    text-align:					center;
    margin:						0px auto;
}
.box_page_template *{
	padding:					0px;
	margin:						0px auto;
	
	list-style:					none;
	text-align:					center;
}
.box_page_template ul{
	width:						auto;
	min-width:					120px;

}
.box_page_template ul li{

	padding:					0px;
	margin:						0px auto !important;
	border:						1px solid transparent;

	height:						136px;
	width:						120px;

	display:					inline;
	float:						left;
	
}

.box_page_template ul li table .desc{
	width:						120px;
	margin:						0px auto;

	padding-top:				5px;
	padding-bottom:				5px;

	border-top:					1px solid #EEE;

	line-height:				20px;
	/*overflow:					hidden;*/
}

.box_page_template img{
	border:						1px solid transparent;
	width:						80px;
	height:						80px;
	padding:					10px;
}
.box_page_template li:link, .box_page_template li:visited{
	padding:					40px;
	border:						1px solid blue;
	

    /* CSS3 */
    border-radius:              3px;
    /* Safari and chrome */
    -webkit-border-radius:      3px;
    /* Firefox */
    -moz-border-radius:         3px;
    /* Linux browsers */
    -khtml-border-radius:       3px;
}

.box_page_template li:hover, .box_page_template li:active{

	cursor:						pointer;
	background-color:			#FFF;

	border:						1px solid #DDD;
}

/*########################################
	Single Box page_template
########################################*/

/* box */
.page_template, .no_page_template{
	/*padding:					10px;*/

	margin-top:					10px;
	margin-bottom:				10px;
}
.page_template{
	background-color:			#FFF;
	width: 						100%;
}

/* toolbar button clears form (initially hidden) */
.page_template .remove_page_template_top_bar{
	background:					transparent;
	/*display:					none;*/
}

/* tab 'X' pattern of elimination */
.page_template .remove_page_template{
	text-align:					center;
	background:					#FFF;
	width:						40px;
	min-width:					40px;
	height:						25px;
	line-height:				25px;

	border:						1px solid #CCC;
	border-bottom:				0;
	border-collapse:			collapse;

    /* CSS3 */
    border-radius:              3px;
    /* Safari and chrome */
    -webkit-border-radius:      3px;
    /* Firefox */
    -moz-border-radius:         3px;
    /* Linux browsers */
    -khtml-border-radius:       3px;

	/* === */
    
    border-bottom-left-radius:			0px;
    border-bottom-right-radius:			0px;

    -webkit-border-bottom-left-radius:	0px;
    -webkit-border-bottom-right-radius:	0px;

    -moz-border-radius-bottomleft:		0px;
    -moz-border-radius-bottomleft:		0px;
    
    -khtml-border-radius:				3px 3px 0px 0px;
    
}

/* hover tab 'X'*/
.page_template .remove_page_template:hover{
	background:					#FDD;
	cursor:						pointer;
}

/* generic content page_template */
.page_template .page_template_content{

	padding:					10px;
	padding-bottom:				10px;
	padding-top:				15px;


	border:						1px solid #DDD;

    /* CSS3 */
    border-radius:              3px;
    /* Safari and chrome */
    -webkit-border-radius:      3px;
    /* Firefox */
    -moz-border-radius:         3px;
    /* Linux browsers */
    -khtml-border-radius:       3px;

	/* === */

    border-top-left-radius:			0px;
	-webkit-border-top-left-radius:	0px;
    -moz-border-radius-topleft:		0px;
    -khtml-border-radius:			0px 3px 3px 3px;
}

/* hover generic content page_template */
.page_template .page_template_content:hover{

	border:						1px dashed #CCC;
}
/*.no_page_template:hover{*/
.no_page_template{
	background:					#F0F8FF;
}
.no_page_template_sorting{
	background:					#F0F8FF;
}

/* each new page_template created must go from hidden to visible */
#new_page_template{
	display:					none;
}

.page_template .sort_tools{
	/*border-top:					1px solid #EEE;*/
	padding:					5px;
	padding-top:				10px;
	padding-bottom:				0px;
	padding-right:				0px;
	text-align:					right;
}
.page_template .sort_tools img{
	cursor:						pointer;
}
.page_template .sort_tools img{
	padding-right:				10px;
}
.page_template .sort_tools img:last-child{
	padding-right:				0px;
}

/* textarea */
#body_text .page_template_content:hover{
	background-color:			#F0F8FF;
}







/* old content */
.old_content{

	border:						1px dashed #DDD;

    /* CSS3 */
    border-radius:              5px;
    /* Safari and chrome */
    -webkit-border-radius:      5px;
    /* Firefox */
    -moz-border-radius:         5px;
    /* Linux browsers */
    -khtml-border-radius:       5px;

	padding:					10px;
	margin:						0px;
}

/* hover effect of the old content */
.old_content:hover{
	border:						1px dashed #008;
}

/*########################################*/

/* Page_template applied to the newly created text content and a page_template*/
/*
#content-text .page_template:hover, .page_templateContent:hover{

	border:						1px dashed #F00;

    border-radius:              5px;
    -webkit-border-radius:      5px;
    -moz-border-radius:         5px;
    -khtml-border-radius:       5px;
}
*/